extends layout

block content
  h1= "Google Play Store"
  p Welcome to Google Play Store

  div.gb_store
    img(src='https://www.gstatic.com/android/market_images/web/play_one_bar_logo_2x.png')

  table
    tr
      td(width="120")
        img(id='app1', src='https://lh3.googleusercontent.com/2s2O_Yb5oTfqSbJO168feEvl5YKruhDyBxL4Od-cB_t4tB4D9R9iWPr1st_xSSJsUA=w300', width="100")
      td(width="400")
        h1 LEGO Junior Quest
        div.document-subtitles
          div.primary  
            span.name "LEGO System A/S"
          div.category  
            span.name "Adventure"
          div.category  
            span.name "Action & Adventure"         
        h1 3.9
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/grey.png' width="20")
        p 379,973 total
        p  Installs: 10,000,000 - 50,000,000
        p  Updated: 4 February 2016
      td
        h3 Permissions
        ul
          li Photos / Media / Files
            ul
              li modify or delete the contents of your USB storage
              li read the contents of your USB storage
          li Storage
            ul
              li modify or delete the contents of your USB storage
              li read the contents of your USB storage
          li Wi-Fi connection information
            ul
              li view Wi-Fi connections
          li Other
            ul
              li Google Play licence check
              li full network access
              li prevent device from sleeping
                li view network connections
    tr
      td(colspan='3')
        hr
    tr
      td
      td(colspan='2')
        p  A little girl’s cat has disappeared - and so has a dangerous robber who escaped from the nearby police station. 
        p  In this story-based game for juniors aged 4-7, your child will help catch the robber and find the missing cat.
        p  During the search, your child will meet lots of friendly folks: creative construction workers, a nice lady, a princess in a castle, an unlucky businessman, a gas station mechanic, a cool surfer girl, and of course there is also time to play with the police dogs.
        p  Quest is using fun mini-games to tell a riveting happy-ending story that will provide inspiration for hours of real-life creative play, both with and without LEGO® bricks.
        p Features:
          ul
            li  No in-app purchases
            li  NEW: Unlock new, free content with studs earned 
            li  NEW: A fun map that always shows where you are and where to go. Once all levels have been unlocked, your child can play their favorite quests over and over again.
            li  NEW: Extra beach level – surf the waves to collect more studs.
            li  Bright, fun and friendly animations and soundtrack 
            li  Intuitive icons and navigation for easy gameplay – no reading or writing skills required
            li  Virtual building with LEGO® bricks 
            li  No third-party advertising 
            li  No links to websites