extends layout

block content
  h1= "Google Play Store"
  p Welcome to Google Play Store

  div.gb_store
    img(src='https://www.gstatic.com/android/market_images/web/play_one_bar_logo_2x.png')

  table
    tr
      td(width="120")
        img(id='app1', src='https://lh3.googleusercontent.com/2s2O_Yb5oTfqSbJO168feEvl5YKruhDyBxL4Od-cB_t4tB4D9R9iWPr1st_xSSJsUA=w300', width="100")
      td(width="200")
        h1 LEGO Junior Quest
        div.document-subtitles
          div.primary  
            span.name "LEGO System A/S"
          div.category  
            span.name "Adventure"
          div.category  
            span.name "Action & Adventure"         
      td(width='200')
        h1 3.9
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/grey.png' width="20")
        p 379,973 total
        p  Installs: 10,000,000 - 50,000,000
        p  Updated: 4 February 2016
        p
          a  Privacy permissions
      td(width='600')
        h2 Privacy Sensitivity Score
          img(src='/images/rate1.png')
        ul
          li Photos / Media / Files
            p  modify or delete the contents of your USB storage
            p  read the contents of your USB storage
            p  read your contacts
              img(src='/images/one.png',position='bottom',height='20')
          li  Wi-Fi connection information
            p  view Wi-Fi connections
          li  Other
            p full network access
            p prevent device from sleeping
            p view network connections
        
    tr
      td(colspan='3')
        hr
    tr
      td
      td(colspan='2')
        a(data-toggle="collapse" href="#demo")  Descriptions (Expand)
        div#demo(data-role="collapsible") Click on
          p  A little girl’s cat has disappeared - and so has a dangerous robber who escaped from the nearby police station. 
          p  In this story-based game for juniors aged 4-7, your child will help catch the robber and find the missing cat.
          p  During the search, your child will meet lots of friendly folks: creative construction workers, a nice lady, a princess in a castle, an unlucky businessman, a gas station mechanic, a cool surfer girl, and of course there is also time to play with the police dogs.
          p  Quest is using fun mini-games to tell a riveting happy-ending story that will provide inspiration for hours of real-life creative play, both with and without LEGO® bricks.
          p Features:
            ul
              li  No in-app purchases
              li  NEW: Unlock new, free content with studs earned 
              li  NEW: A fun map that always shows where you are and where to go. Once all levels have been unlocked, your child can play their favorite quests over and over again.
              li  NEW: Extra beach level – surf the waves to collect more studs.
              li  Bright, fun and friendly animations and soundtrack 
              li  Intuitive icons and navigation for easy gameplay – no reading or writing skills required
              li  Virtual building with LEGO® bricks 
              li  No third-party advertising 
              li  No links to websites

  table      
    tr
      td(width='120') 
        img(id='app1', src='https://lh3.ggpht.com/5928OIkIyUaD_1o7mEihMKppdMfYq4zY_CwsfGw_i26NdEHBTWPeK9OOLfdpi3O5HpCp=w300', width="100")
      td(width="400")
        h1 LEGO® Juniors Create & Cruise
        div.document-subtitles
          div.primary  
            span.name "LEGO System A/S"
          div.category  
            span.name "Educational"
          div.category  
            span.name "Action & Adventure"  
      td(width='200')
        h1 3.9
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/grey.png' width="20")
        p 385,090 total
        p  Installs: 10,000,000 - 50,000,000
        p  Updated: 15 June 2015
        p
          a  Privacy permissions
      td(width='600')
        h2 Privacy Sensitivity Score
          img(src='/images/rate0.png')
        ul
          li Photos / Media / Files
            p  modify or delete the contents of your USB storage
            p  read the contents of your USB storage
          li  Wi-Fi connection information
            p  view Wi-Fi connections
          li  Other
            p full network access
            p prevent device from sleeping
            p view network connections
    tr
      td(colspan='3')
        hr
    tr
      td
      td(colspan='2')
        p  In LEGO® Juniors Create & Cruise, children age 4-7 can use their imagination to create their very own LEGO® vehicles and minifigures. 
        p  Cruising for coins will unlock virtual LEGO® sets that can be built with a few easy touches - and which will become part of the game’s colorful 3D scenery for your child’s next drive-through. 
        p  Create & Cruise provides plenty of inspiration for real-life LEGO® builds and imaginative play scenarios you can talk to your child about - like why the pretty princess is driving a police car that has legs instead of wheels.
        p Features:
          ul
            li  No in-app purchases
            li  NEW levels with engaging scenery
            li  NEW models – which means fun new build and play experiences. Now your child can play with helicopters and big trucks! 
            li  Minifigure selector and lots of creative vehicles to mix and match – the more you play, the more you unlock!
            li  Bright, fun and friendly animations and soundtrack 
            li  Intuitive icons and navigation for easy gameplay – no reading or writing skills required
            li  Virtual building with LEGO® bricks 
            li  No third-party advertising 
            li  No links to websites