extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Part I: Do you want to install this app?

  h3 1. Which of the following app would you be interested to install, that you have not tried before?

  table
    tr
      td
        a(href='/wallet-store') Google Wallet app
        img(src='/images/wallet.PNG' width="100") 
      td
        a(href='/transport-store') London Transport app
        img(src='/images/transport.png' width="100") 
      td 
        a(href='/weight-store') Health monitor app
        img(src='/images/weight.png' width="100") 
      td 
        a(href='/barcode-store') Barcode scanner app
        img(src='/images/barcode.png' width="100") 
      td 
        a(href='/friends-store') Friend locator app
        img(src='/images/friends.png' width="100") 


  h3 2. How do you feel about the indicators, and do they change your decisions?

  table
    tr
      td
        a(href='/wallet-indicators') Google Wallet app
        img(src='/images/wallet.PNG' width="100") 
      td
        a(href='/transport-indicators') London Transport app
        img(src='/images/transport.png' width="100") 
      td 
        a(href='/weight-indicators') Health monitor app
        img(src='/images/weight.png' width="100") 
      td 
        a(href='/barcode-indicators') Barcode scanner app
        img(src='/images/barcode.png' width="100") 
      td 
        a(href='/friends-indicators') Friend locator app
        img(src='/images/friends.png' width="100") 


  h2 Part II: Which app would you install?
      


