extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Lab1

  h3 1. What matters to the participants?

  ul
    li 
      a(href='/1-gstore') Install this kid app?
    li
      a(href='/1-grade') Install this 'good' kid app?
    li Install this health app?
    li Install this good/bad health app?
    li Install this map app?
    li Install this good/bad map app?


  h3 2. Which app?

  ul
    li
      h2  Apps and their sensitity scores
      ul
        li  
          a(href='/two-grades') Which of these apps?
        li Different apps
        li Bad apps
    li 
      h2 Apps and their privacy grades
      ul
        li Good apps
        li Different apps
        li Bad apps


  h2 Lab2
  h3 1. Which app?
  ul
    li
      a(href='/pinterest') Install pinterest?
    li
      a(href='/pinterest-grade') Install pinterest 2?
    li
      a(href='/pinterest-dci') Install pinterest based on its DCI?

      


