  extends layout

block content
  h1= "Google Play Store"
  p Welcome to Google Play Store

  div.gb_store
    img(src='https://www.gstatic.com/android/market_images/web/play_one_bar_logo_2x.png')

  table
    tr
      td(width="120")
        img(id='app1', src='https://lh3.googleusercontent.com/SrULGsyndXJk6Gs4Lmv34sOlMDAroy1bzPPr9X1U5oVdv5TAAJX4JkYPO_wQAdP7TBA=w300', width="100")
      td(width="400")
        h1 Pinterest
        div.document-subtitles
          div.primary  
            span.name "Pinterest.Inc. "
          div.category  
            span.name "Social"
          h1 4.5
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/grey.png' width="20")
        p 1,837,543 total
        p  Installs: 100,000,000 - 500,000,000
        p  Updated: 27 April 2016
        p
          a  Privacy permissions       
      td(valign=top,width="400")
        h2 Privacy Sensitivity Score
          img(src='/images/rate5.png')
        p  The sum of the number of sensitive permissions associated with an app, that have the ability to access personl data and disclose them externally
          ul
          li Identity
          ul
            li find accounts on the device
              img(src='/images/one.png',position='bottom',height='20')
            li read your own contact card
              img(src='/images/one.png',position='bottom',height='20')
          li  Contacts
          ul
            li find accounts on the device
              img(src='/images/one.png',position='bottom',height='20')
            li read your contacts
              img(src='/images/one.png',position='bottom',height='20')
          li Location
          ul
            li precise location (GPS and network-based)
              img(src='/images/one.png',position='bottom',height='20')
          li Photos / Media / Files
          ul
            li  modify or delete the contents of your USB storage
            li read the contents of your USB storage
          li Storage
          ul
            li modify or delete the contents of your USB storage
            li read the contents of your USB storage
          li Camera
          ul
            li take pictures and videos
              img(src='/images/one.png',position='bottom',height='20')
          li Other
          ul
            li receive data from Internet
            li run at startup
            li use accounts on the device
            li read Google service configuration
            li prevent device from sleeping
            li view network connections
            li full network access
      td(valign='top')
        h2 Data Controllers Behind the App 
        
        p  Who have access to your personal data through this app,? 
        p The organge circles represent 'information controllers' who have access to your personal data, and the solid blue circules represent the type of data accessed by each information controller.
        img(src='images/pinterest-dci-1.png',width='400')
        img(src='images/pinterest-dci-2.png',width='400')