extends layout

block content
  h1= "Google Play Store"
  p Welcome to Google Play Store

  div.gb_store
    img(src='https://www.gstatic.com/android/market_images/web/play_one_bar_logo_2x.png')

  table
    tr
      td(width="120")
        img(id='app1', src='/images/wallet.png', width="100")
      td(width="400")
        h1 Google Wallet
        div.document-subtitles
          div.primary  
            span.name "Google Inc."
          div.category  
            span.name "Finance"
        h1 3.9
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/grey.png' width="20")
        p 121,500 total
        p  Installs: 10,000,000 - 50,000,000
        p  Updated: 17 May 2016
      td
        h3 Permissions
        ul
          li Identity
            ul
              li find accounts on the device
          li Contacts
            ul
              li find accounts on the device
          li Location
            ul
              li precise location (GPS and network-based)
          li Photos / Media / Files
            ul
              li modify or delete the contents of your USB storage
              li read the contents of your USB storage
          li Storage
            ul
              li modify or delete the contents of your USB storage
              li read the contents of your USB storage
          li Camera
            ul
              li take pictures and videos
          li Wi-Fi connection information
            ul
              li view Wi-Fi connections
          li Other
            ul 
              li receive data from Internet
              li control vibration
              li run at startup
              li read Google service configuration
              li prevent device from sleeping
              li view network connections
              li control Near-Field Communication
              li full network access
    tr
      td(colspan='3')
        hr
    tr
      td
      td(colspan='2')
        p  Google Wallet is an easier way to pay in stores, pay your friends and pay online.
        ul
          li Speed through checkout with Tap and Pay on your Android device (check compatibility at http://goo.gl/tmttJx)
          li Get the Google Wallet Card to spend your Wallet Balance anywhere Debit MasterCard® is accepted in the US
          li Pay your friends back quickly by sending money in the US

        p Stay protected when shopping or sending money
        ul
          li Google Wallet is backed by 24/7 fraud monitoring and the Google Wallet Fraud Protection Guarantee, which covers 100% of any transactions made without your authorization.
          li If your device is lost or stolen, you can easily disable the Google Wallet app online or by calling our 24/7 support number at http://goo.gl/hajmJS.
          li For added security, you can lock your app with a Google Wallet PIN.
          li If your Wallet Card is misplaced, you can lock your card so it can't be used. You can unlock your card any time.
        p  The Google Wallet app uses your location to show you nearby loyalty programs, stores that accept your gift cards, and more. If you would like to turn this feature off, please go to Settings and turn off Location Sharing.