extends layout

block content
  h1= "Google Play Store"
  p Welcome to Google Play Store

  div.gb_store

  table
    tr
      td(width="120")
        img(id='app1', src='/images/weight.png', width="100")
      td(width="400")
        h1 Noom Weight Loss Coach
        div.document-subtitles
          div.primary  
            span.name "Noom Inc."
          div.category  
            span.name "Health & Fitness"
        h1 4.3
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/grey.png' width="20")
        p 164,963 total
        p  Installs: 10,000,000 - 50,000,000
        p  Updated: 3 June 2016
      td
        h3 Permissions
        ul
          li In-app purchases
          li Identity
            ul
              li find accounts on the device
              li add or remove accounts
          li Contacts
            ul
              li find accounts on the device
          li Location
            ul
              li precise location (GPS and network-based)
              li approximate location (network-based)
              li access extra location provider commands
          li Phone
            ul
              li read phone status and identity
          li Photos / Media / Files
            ul
              li read the contents of your USB storage
              li modify or delete the contents of your USB storage
              li access USB storage filesystem
          li Storage
            ul
              li read the contents of your USB storage
              li modify or delete the contents of your USB storage
          li Camera
            ul
              li take pictures and videos
          li Device ID & call information
            ul
              li read phone status and identity
          li Other
            ul
              li read sync statistics
              li receive data from Internet
              li download files without notification
              li read sync settings
              li toggle sync on and off
              li full network access
              li view network connections
              li prevent device from sleeping
              li use accounts on the device
              li control vibration
              li access Bluetooth settings
              li pair with Bluetooth devices
              li install shortcuts
    tr
      td(colspan='3')
        hr
    tr
      td
      td(colspan='2')
        p  Get all the tools and guidance you need to lose weight. Noom Weight Loss Coach is a personalized coach that helps you form healthy habits through daily tasks, meal logging, and exercise tracking.
        p It's the most trusted weight loss solution for Android thanks to its supportive, encouraging approach. Our users lose an average of 10 lbs in 2 months. Some lose a lot more. Why? We don't just track your calories and workouts. We coach you. The app provides the encouragement and support you need to stay motivated right on your Android tablet or smartphone.

        p Our easy-to-use tools make it easy to log meals and workouts while the integrated pedometer counts your steps all day, every day without killing your battery.

        p Millions of people worldwide already use Noom to enjoy healthier lives through intelligent nutrition and exercise coaching. We know weight loss is hard. Our coach will keep you motivated.

        ul EFFECTIVE
          li 9 out of 10 active users lose weight
          li Our users lose an average of 10 lbs in 2 months

        ul EASY 
          li Our perfected search algorithm helps you log meals in seconds
          li Color-coded logging teaches you which foods are really healthy (and which foods aren’t)
          li Robust food database with nearly one million foods, including popular restaurants and local cuisines
          li We remember your favorite foods for you, to make logging even faster
          li Beautiful, intuitive design

