extends layout

block content
  h1= "Oxford Play Store"
  p Welcome to Oxford Play Store

  div.gb_store

  table
    tr
      td(width="120")
        img(id='app1', src='/images/friends.png', width="100")
      td(width="400")
        h1 Locate My Friends!
        div.document-subtitles
          div.primary  
            span.name "Family Safety Production"
          div.category  
            span.name "Social"
        h1 4.2
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/grey.png' width="20")
        p 226,464 total
        p  Installs: 10,000,000 - 50,000,000
        p  Updated: 6 June 2016
      td
        h3 Permissions
        ul
          li In-app purchases
          li Device & app history
            ul
              li retrieve running apps
          li Identity
            ul
              li read your own contact card
              li find accounts on the Device
          li Calendar
            ul
              li read calendar events plus confidential information
          li Contacts
            ul
              li find accounts on the device
              li read your contacts
          li Location
            ul
              li precise location (GPS and network-based)
              li approximate location (network-based)
          li SMS
            ul
              li receive text messages (SMS)
              li send SMS messages
          li Phone
            ul
              li directly call phone numbers
              li read phone status and identity
              li read call log
          li Photos / Media / Files
            ul
              li modify or delete the contents of your USB storage
              li read the contents of your USB storage
          li Storage
            ul
              li modify or delete the contents of your USB storage
              li read the contents of your USB storage
          li Camera
            ul
              li take pictures and videos
          li Wi-Fi connection information
            ul
              li view Wi-Fi connections
          li Device ID & call information
            ul
              li read phone status and identity
          li Other
            ul
              li receive data from Internet
              li control vibration
              li run at startup
              li access Bluetooth settings
              li control Near-Field Communication
              li pair with Bluetooth devices
              li read battery statistics
              li send sticky broadcast
              li connect and disconnect from Wi-Fi
              li read Google service configuration
              li prevent device from sleeping
              li view network connections
              li full network access
    tr
      td(colspan='3')
        hr
    tr
      td
      td(colspan='2')
        p  Locate and Find My Friends is the premier friend locator app that helps you:
        ul
          li Find your friends
          li Locate your friends on a Map
          li Let friends find you
          li Chat with friends
          li Get info -- on ETA, exact location, etc. 
          li Share news -- about a great new restaurant opening, store sale, etc.
          li Get directions

        p Locate and Find My Friends is the premier friend locator app. Whether you’re shopping for a new outfit, camping in the great outdoors or enroute to best-ever party, Locate and Find My Friends GPS tracking data makes it easy to locate friends in real time.

        p Real-time data is important!
        p Consider two scenarios: Will your habitually late friend make it to the movie on time? Use Locate and Find My Friends to pinpoint his/her exact location and estimated arrival time, so you can plan accordingly. Is your directionally challenged friend lost (again)? Locate and Find My Friends is a lifesaver. It pinpoints your missing friend’s exact location and provides navigational help (i.e., directions) so you can guide them to their determined destination. It’s the friend finder and friend locator that works.

        p Locate and Find My Friends includes a more diverse array of features and benefits than those found on Glympse, BBM or Mobile Number Tracker, for example. It’s also a great replacement for Google Latitude.

