extends layout

block content
  h1= "App Play Store"
  p Welcome to App Play Store

  div.gb_store

  table
    tr
      td(width="120")
        img(id='app1', src='/images/transport.png', width="100")
      td(width="400")
        h1 London Transport Live
        div.document-subtitles
          div.primary  
            span.name "RouteMaster"
          div.category  
            span.name "Transport"
        h1 3.5
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/grey.png' width="20")
        p 379,973 total
        p  Installs: 10,000,000 - 50,000,000
        p  Updated: 25 Januart 2014
      td
        h3 Permissions
        ul
          li Location
            ul
              li Precise location (gps and network-based)
          li Other
            ul
              li Full network access
    tr
      td(colspan='3')
        hr
    tr
      td
      td(colspan='2')
        p  A free simple yet powerful application to assist you in your travels around London using live data provided by TfL and utilising Countdown bus information.
        p  If you have any comments, questions or issues, please contact routemaster20@gmail.com.
        p  If you have a problem with the app, please email me instead of resorting to daft negative reviews. Most issues are down to a particular device and this application is compatible with over 1027 different ones!
        p  Includes 
        ul
            li Intuitive map interface
            li Live bus departure boards (Countdown)
            li Live arrivals for London Underground and DLR
            li Journey Planner integration (beta)
            li Service updates for the London Underground and bus routes
        p Many more features available in the full version including jam cams, Barclays Cycle Hire docking station statuses and much much more!
- Easy to use favourites and nearby locations