extends layout

block content
  h1= "Google Play Store"
  p Welcome to Google Play Store

  div.gb_store
    img(src='https://www.gstatic.com/android/market_images/web/play_one_bar_logo_2x.png')

  table
    tr
      td(width="120")
        img(id='app1', src='/images/barcode.png', width="100")
      td(width="400")
        h1 ScanLife Barcode & QR Reader
        div.document-subtitles
          div.primary  
            span.name "Scanbuy, Inc"
          div.category  
            span.name "Shopping"
        h1 4.0
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/star.png' width="20")
        img(src='/images/grey.png' width="20")
        p 56,190 total
        p  Installs: 10,000,000 - 50,000,000
        p  Updated: 12 May 2016
      td
        h3 Permissions
        ul
          li Identity
            ul
              li find accounts on the device
          li Contacts
            ul
              li find accounts on the device
          li Location
            ul
              li precise location (GPS and network-based)
              li approximate location (network-based)
          li Phone
            ul
              li read phone status and identity
              li directly call phone numbers
          li Photos / Media / Files
            ul
              li modify or delete the contents of your USB storage
              li read the contents of your USB storage
          li Storage
            ul
              li modify or delete the contents of your USB storage
              li read the contents of your USB storage
          li Camera
            ul
              li take pictures and videos
          li Wi-Fi connection information
            ul
              li view Wi-Fi connections
          li Device ID & call information
            ul
              li read phone status and identity
          li Other
            ul
              li receive data from Internet
              li full network access
              li view network connections
              li prevent device from sleeping
              li connect and disconnect from Wi-Fi
              li run at startup
              li read Google service configuration
              li control vibration
              li pair with Bluetooth devices
              li access Bluetooth settings
    tr
      td(colspan='3')
        hr
    tr
      td
      td(colspan='2')
        p  DISCOVER. SHOP. SAVE. SMILE.
        p Put a personal shopper in your pocket with ScanLife so you’ll always get the information you want most. Scan any product’s barcode, QR Code or Microsoft Tag and we’ll quickly find you more about it including prices and reviews.

You’ll also have access to a selection of the latest discounts, deals and special offers from thousands of national and local stores that change based on your interests. Get hand-picked offers and content from the products you love or want.

Scan a product UPC barcode, we’ll help you find a variety of information:
- Find and compare prices from your favorite stores like Amazon, Toys R Us, Macy’s, Best Buy, Walmart, Target, and purchase right from your phone (depending on location)
- Check-out product reviews & see what others are saying
- See nutritional facts & ingredients from food products (US only) 
- Find closest product locations near you (US only)

Other ways ScanLife can help: 
- Earn mPoint rewards as you scan QR Codes and barcodes that can be redeemed for real gift cards (US only)
- Save all your scanning activity in your History 
- Sync with Facebook to share your favorite products with others or to access later
- Create your very own personalized QR Code right from the app so others can save your contact details

